absl-py==2.1.0
accelerate==1.11.0
altair==4.2.2
annotated-types==0.7.0
appdirs==1.4.4
asgiref==3.8.1
astrapy==2.0.1
astunparse==1.6.3
atomicwrites==1.4.0
backoff==2.2.1
backports.weakref==1.0.post1
bcrypt==4.2.1
bert-score==0.3.13
blis==0.7.11
boto3==1.35.96
botocore==1.35.96
Brotli==1.1.0
build==1.2.2.post1
cassandra-driver==3.29.2
catalogue==2.0.10
chroma-hnswlib==0.7.6
chromadb==0.5.23
cloudpathlib==0.21.1
clyent==1.2.2
cmdstanpy==1.2.4
coloredlogs==15.0.1
conda-repo-cli==1.0.75
conda-verify==3.4.2
confection==0.1.5
cymem==2.0.11
dataclasses-json==0.6.7
datasets==3.1.0
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.8
distlib==0.3.9
dm-tree==0.1.8
dnspython==2.7.0
docker-pycreds==0.4.0
docstring_parser==0.16
durationpy==0.9
et-xmlfile==1.1.0
etils==1.10.0
evaluate==0.4.5
faiss-cpu==1.10.0
fastapi==0.115.6
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.6.0
gensim==4.3.3
geomet==0.2.1.post1
geopandas==1.0.1
google-auth==2.37.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
graphviz==0.20.3
grpcio==1.68.0
h11==0.14.0
h2==4.2.0
h5py==3.12.1
holidays==0.60
hpack==4.1.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.34.3
humanfriendly==10.0
hummingbird-ml==0.4.12
hyperframe==6.1.0
immutabledict==4.2.1
importlib_resources==6.4.5
inflate64==1.0.0
inflection==0.5.1
inquirerpy==0.3.4
interchange==2021.0.4
jiter==0.8.2
jsonpatch==1.33
jsonpointer==2.1
keras==3.6.0
kubernetes==31.0.0
langchain==0.3.23
langchain-chroma==0.2.0
langchain-community==0.3.21
langchain-core==0.3.51
langchain-ollama==0.2.2
langchain-openai==0.2.12
langchain-text-splitters==0.3.8
langcodes==3.5.0
langsmith==0.2.3
language_data==1.3.0
libclang==18.1.1
lightgbm==4.5.0
marisa-trie==1.2.1
marshmallow==3.23.1
mkl-service==2.4.0
ml-dtypes==0.4.1
mmh3==5.0.1
monotonic==1.6
multiprocess==0.70.16
multivolumefile==0.2.3
munkres==1.1.4
murmurhash==1.0.13
namex==0.0.8
oauthlib==3.2.2
ollama==0.4.5
onnx==1.16.1
onnxconverter-common==1.14.0
onnxruntime==1.20.1
openai==1.57.4
opencv-python==4.10.0.84
openpyxl==3.0.10
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
opt_einsum==3.4.0
optree==0.13.1
orjson==3.10.12
packaging==23.2
pansi==2024.11.0
patsy==0.5.3
peft==0.17.1
pfzy==0.3.4
ply==3.11
polars==1.15.0
portalocker==3.2.0
posthog==3.7.5
preshed==3.0.10
promise==2.3
prophet==1.1.6
protobuf==4.25.7
py2neo==2021.2.4
py7zr==0.22.0
pyarrow==18.1.0
pyasn1-modules==0.2.8
pybcj==1.0.2
pycryptodomex==3.21.0
pycurl==7.45.2
pydantic==2.10.3
pydantic-settings==2.7.0
pydantic_core==2.27.1
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pymongo==4.10.1
pyogrio==0.10.0
pypdf==5.1.0
PyPika==0.48.9
pyppmd==1.1.0
pyproj==3.7.1
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
pytest-mock==3.15.1
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.20
pywin32==305.1
pyzstd==0.16.2
requests==2.32.3
requests-oauthlib==2.0.0
rpy2==3.5.17
rsa==4.9
s3transfer==0.10.4
sacrebleu==2.5.1
safetensors==0.4.5
scipy==1.14.1
sentry-sdk==2.19.0
setproctitle==1.3.4
shapely==2.1.0
shellingham==1.5.4
simple-parsing==0.1.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stanio==0.5.1
starlette==0.41.3
streamlit==1.47.1
streamlit-mermaid==0.3.0
sympy==1.14.0
tenacity==8.5.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-datasets==4.9.7
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.16.1
tensorflow_intel==2.18.0
termcolor==2.5.0
texttable==1.7.0
tf_keras==2.18.0
thinc==8.2.5
tiktoken==0.8.0
timm==1.0.19
tokenizers==0.20.1
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.45.2
typer==0.15.1
typing-inspect==0.9.0
typing_extensions==4.12.2
uuid6==2024.7.10
uvicorn==0.34.0
virtualenv==20.28.0
wandb==0.18.7
wasabi==1.1.3
watchfiles==1.0.4
weasel==0.4.1
webencodings==0.5.1
websockets==14.1
xgboost==1.7.6
xxhash==3.5.0
zstandard==0.19.0